/* Base styles */
.template-container {
    padding: 15px;
    border: 2px dashed red;
  }
  
  /* Template-specific overrides */
  .basic-template {
    background-color: red;
  }
  
  .basic-template .field-name {
    font-size: 18px;
    color: red;
  }
  
  .basic-template .field-email {
    text-decoration: underline;
    color: red;
  }
  