/* Core Template styles */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.6;
}
#header {
  background-color: #fff;
  display: flex;
  min-height: 120px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1.2px solid #ccc;
  border-top: 1.2px solid #ccc;
}
#group-container {
  padding: 10px;
}
#group-wrapper {
  display: flex;
}
#group-1 {
  padding: 30px;
}
#group-2 {
  width: 320px;
  border-right: 1.5px solid #eee;
  padding:30px 0;
}
#name, #title, #head-image {
  display: none
}
#head-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#name_value {
  font-size: 2rem;
  font-weight: bold;
  color: #666;
}
#title_value {
  color: #666;
}
#contact {
  border-bottom: 1.5px solid #eee;
  padding: 10px 20px;
  margin-bottom: 1rem;
}
#contact-title, 
#education-title,
#skills-title,
#languages-title,
#summary-title,
#projects-title
{
  font-size: 1.5rem;
  font-weight: bold;
  color: #666;
  position: relative;
  z-index: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#contact-title:before,
#education-title:before,
#skills-title:before,
#languages-title:before,
#summary-title:before,
#projects-title:before
{
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  background-color: #cdf;
  top: 6px;
  left: -5px;
  border-radius: 100px;
  z-index: -1;
}
#contact-phone-wrapper,
#contact-email-wrapper,
#contact-address-wrapper
{
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 2;
}
#contact-phone,
#contact-email,
#contact-address {
  font-size: 0.9rem;
}
.fa-solid {
  color: #555;
}
#education {
  border-bottom: 1.5px solid #eee;
  padding: 10px 20px;
  margin-bottom: 1rem;
}
#degree-1, 
#institution-1,
#ed-year-1,
#ed-details-1
{
 font-size: 0.9rem;
 line-height: 2;
}
#skills {
  border-bottom: 1.5px solid #eee;
  padding: 10px 20px;
  margin-bottom: 1rem;
}
.all-skills {
  font-size: 0.9rem;
  list-style-type: disc;
  line-height: 2;
}
#institution-1 {
  font-weight: 600;
}
#ed-year-1 {
  color: #666;
  font-weight: 600;
}
#degree-1,
#ed-details-1 {
  list-style-type: disc;
}  
#languages {
  padding: 0 20px;
}
#language-1, 
#language-2, 
#language-3 {
  list-style-type: disc;
  font-size: 0.9rem;
  line-height: 2;
}
#summary, #projects {
  padding: 10px;
}
#summary-text {
  line-height: 2;
  font-size: 0.9rem;
}